build/refactor.html
<div class="wrapper"><section class="heading"><div class="info"><ul class="inline"><li><img src="../public/images/mapIcon.png"/></li><li>1200 18th St NW</li><li>UberOffices</li><li>Washington, DC</li></ul></div><div class="delay-alert"></div></section><div class="col-1"><div class="section center"><div class="box-green"><ul class="white"><li>{{date | date: 'MMMM'}}</li><li class="large">{{date | date: 'd'}}</li></ul></div><div class="box"><ul><li>{{date | date: 'EEEE'}}</li><li class="small">{{date | date: 'h'}}:{{date | date: 'mm'}} {{date | date: 'a' | lowercase}}</li></ul></div></div><div class="section"><div class="box-red center"><ul class="white"><li><img src="public/images/weatherIcons/{{weather.hourly.first.icon}}"/></li><li class="medium">{{weather.temp}}&deg;</li><li>{{weather.readable}}</li></ul></div><div class="box divider"><ul class="inline"><li class="hourly">{{weather.hourly.first.FCTTIME.hour}} {{weather.hourly.first.FCTTIME.ampm}}</li><li class="mini-icon"><img src="public/images/smallWeatherIcons/{{weather.hourly.first.icon}}"/></li><li class="right"><span class="full">{{weather.hourly.first.feelslike.english}}&deg;</span><span class="full">{{weather.hourly.second.pop}}%<img src="public/images/rainDropIcon.png" class="rain-drop"/></span></li></ul></div><div class="box divider"><ul class="inline"><li class="hourly">{{weather.hourly.second.FCTTIME.hour}} {{weather.hourly.second.FCTTIME.ampm}}</li><li class="mini-icon"><img src="public/images/smallWeatherIcons/{{weather.hourly.second.icon}}"/></li><li class="right"><span class="full">{{weather.hourly.second.feelslike.english}}&deg;</span><span class="full">{{weather.hourly.second.pop}}%<img src="public/images/rainDropIcon.png" class="rain-drop"/></span></li></ul></div><div class="box divider"><ul class="inline"><li class="hourly">{{weather.hourly.third.FCTTIME.hour}} {{weather.hourly.third.FCTTIME.ampm}}</li><li class="mini-icon"><img src="public/images/smallWeatherIcons/{{weather.hourly.third.icon}}"/></li><li class="right"><span class="full">{{weather.hourly.third.feelslike.english}}&deg;</span><span class="full">{{weather.hourly.third.pop}}%<img src="public/images/rainDropIcon.png" class="rain-drop"/></span></li></ul></div><div class="box"><ul class="inline"><li class="hourly">{{weather.hourly.fourth.FCTTIME.hour}} {{weather.hourly.fourth.FCTTIME.ampm}}</li><li class="mini-icon"><img src="public/images/smallWeatherIcons/{{weather.hourly.fourth.icon}}"/></li><li class="right"><span class="full">{{weather.hourly.fourth.feelslike.english}}&deg;</span><span class="full">{{weather.hourly.fourth.pop}}%<img src="public/images/rainDropIcon.png" class="rain-drop"/></span></li></ul></div></div></div><div class="col-2"><div class="section"><div class="box-blue"><div class="heading"><h1>Metro</h1><img src="public/images/metroIcon.png"/></div></div><div class="box divider"><div class="metro-heading"><h3>Farragut North</h3><img src="public/images/redLineOpenIcon.png"/><div class="walking-distance"><img src="public/images/walkingIcon.png" class="walking-man"/><span>4 min</span></div></div><ul><li ng-repeat="item in metro.A02  | filter:{destinationLetter: 'B'} | limitTo:3 " class="{{item.line}}"><span class="animated flipInX">{{item.destinationName}}</span><span class="time animated flipInX">{{item.min}}</span></li></ul></div><div class="box divider"><ul><li ng-repeat="item in metro.A02 | filter:{destinationLetter: 'A'} | limitTo:3" class="{{item.line}}"><span class="animated flipInX">{{item.destinationName}}</span><span class="time animated flipInX">{{item.min}}</span></li></ul></div><div class="box divider"><div class="metro-heading"><h3>Farragut West</h3><img src="public/images/orangeLineOpenIcon.png"/><img src="public/images/blueLineOpenIcon.png" class="second-image"/><div class="walking-distance"><img src="public/images/walkingIcon.png" class="walking-man"/><span>7 min</span></div></div><ul><li ng-repeat="item in metro.C03 | farragutWestB | limitTo:3 " class="{{item.line}}"><span class="animated flipInX">{{item.destinationName}}</span><span class="time animated flipInX">{{item.min}}</span></li></ul></div><div class="box divider"><ul><li ng-repeat="item in metro.C03 | farragutWestA | limitTo:3 " class="{{item.line}}"><span class="animated flipInX">{{item.destinationName}}</span><span class="time animated flipInX">{{item.min}}</span></li></ul></div><div class="box divider"><div class="metro-heading"><h3>Dupont Circle</h3><img src="public/images/redlineOpenIcon.png"/><div class="walking-distanc"><img src="public/images/walkingIcon.png" class="walking-man"/><span>7 min</span></div></div><ul><li ng-repeat="item in metro.A03 | filter:{destinationLetter: 'B'} | limitTo:3 " class="{{item.line}}"><span class="animated flipInX">{{item.destinationName}}</span><span class="time animated flipInX">{{item.min}}</span></li></ul></div><div class="box"><ul><li ng-repeat="item in metro.A03 | filter:{destinationLetter: 'A'} | limitTo:3 " class="{{item.line}}"><span class="animated flipInX">{{item.destinationName}}</span><span class="time animated flipInX">{{item.min}}</span></li></ul></div></div></div><div class="col-3"><div class="section"><div class="box-bikeShare"><div class="heading"><h1>Capital Bikeshare</h1><img src="public/images/capitalBikeshareIcon.png"/></div></div><div class="box divider clearfix"><ul class="inline"><li class="right center"><h1 class="animated flipInX">{{bikes[77].nbBikes[0]}}</h1><span>Bikes</span></li><li><h3>{{bikes[77].name[0]}}</h3></li></ul><div class="walking-distance left extra"><img src="public/images/walkingIcon.png"/><span>5 min</span></div></div><div class="box divider clearfix"><ul class="inline"><li class="right center"><h1 class="animated flipInX">{{bikes[129].nbBikes[0]}}</h1><span>Bikes</span></li><li><h3>{{bikes[129].name[0]}}</h3></li></ul><div class="walking-distance left extra"><img src="public/images/walkingIcon.png"/><span>6 min</span></div></div><div class="box divider clearfix"><ul class="inline"><li class="right center"><h1 class="animated flipInX">{{bikes[220].nbBikes[0]}}</h1><span>Bikes</span></li><li><h3>{{bikes[220].name[0]}}</h3></li></ul><div class="walking-distance left extra"><img src="public/images/walkingIcon.png"/><span>6 min</span></div></div><div class="box divider clearfix"><ul class="inline"><li class="right center"><h1 class="animated flipInX">{{bikes[51].nbBikes[0]}}</h1><span>Bikes</span></li><li><h3>{{bikes[51].name[0]}}</h3></li></ul><div class="walking-distance left extra"><img src="public/images/walkingIcon.png"/><span>6 min</span></div></div><div class="box divider clearfix"><ul class="inline"><li class="right center"><h1 class="animated flipInX">{{bikes[84].nbBikes[0]}}</h1><span>Bikes</span></li><li><h3>{{bikes[84].name[0]}}</h3></li></ul><div class="walking-distance left extra"><img src="public/images/walkingIcon.png"/><span>8 min</span></div></div><div class="box clearfix"><ul class="inline"><li class="right center"><h1 class="animated flipInX">{{bikes[105].nbBikes[0]}}</h1><span>Bikes</span></li><li><h3>{{bikes[105].name[0]}}</h3></li></ul><div class="walking-distance left extra"><img src="public/images/walkingIcon.png"/><span>7 min</span></div></div></div></div><div class="col-4"><div class="section"><div class="box-traffic"><div class="heading"><h1>Traffic</h1><img src="public/images/trafficIcon.png"/></div></div><google-map center="map.center" zoom="map.zoom" pan="false"><marker coords="map.center"></marker><layer type="TrafficLayer" show="map.showTraffic"></layer></google-map></div></div></div>

jade/refactor.jade
.wrapper
  section.heading
    .info
      ul.inline
        li: img(src='../public/images/mapIcon.png')
        li 1200 18th St NW
        li UberOffices
        li Washington, DC
    .delay-alert
  

  
  .col-1
    .section.center
      .box-green
        ul.white
          li {{date | date: 'MMMM'}}
          li.large {{date | date: 'd'}}
      .box
        ul
          li {{date | date: 'EEEE'}}
          li.small {{date | date: 'h'}}:{{date | date: 'mm'}} {{date | date: 'a' | lowercase}}
    .section
      .box-red.center
        ul.white
          li: img(src='public/images/weatherIcons/{{weather.hourly.first.icon}}')
          li.medium {{weather.temp}}&deg;
          li {{weather.readable}}
      .box.divider
        ul.inline
          li.hourly {{weather.hourly.first.FCTTIME.hour}} {{weather.hourly.first.FCTTIME.ampm}}
          li.mini-icon: img(src="public/images/smallWeatherIcons/{{weather.hourly.first.icon}}")
          li.right
            span.full{{weather.hourly.first.feelslike.english}}&deg;
            span.full
              {{weather.hourly.second.pop}}%
              img.rain-drop(src='public/images/rainDropIcon.png')
      .box.divider
        ul.inline
          li.hourly {{weather.hourly.second.FCTTIME.hour}} {{weather.hourly.second.FCTTIME.ampm}}
          li.mini-icon: img(src="public/images/smallWeatherIcons/{{weather.hourly.second.icon}}")
          li.right
            span.full{{weather.hourly.second.feelslike.english}}&deg;
            span.full
              {{weather.hourly.second.pop}}%
              img.rain-drop(src='public/images/rainDropIcon.png')

      .box.divider
        ul.inline
          li.hourly {{weather.hourly.third.FCTTIME.hour}} {{weather.hourly.third.FCTTIME.ampm}}
          li.mini-icon: img(src="public/images/smallWeatherIcons/{{weather.hourly.third.icon}}")
          li.right
            span.full{{weather.hourly.third.feelslike.english}}&deg;
            span.full
              {{weather.hourly.third.pop}}%
              img.rain-drop(src='public/images/rainDropIcon.png')
      .box
        ul.inline
          li.hourly {{weather.hourly.fourth.FCTTIME.hour}} {{weather.hourly.fourth.FCTTIME.ampm}}
          li.mini-icon: img(src="public/images/smallWeatherIcons/{{weather.hourly.fourth.icon}}")
          li.right
            span.full{{weather.hourly.fourth.feelslike.english}}&deg;
            span.full
              {{weather.hourly.fourth.pop}}%
              img.rain-drop(src='public/images/rainDropIcon.png')

  .col-2
    .section
      .box-blue
        .heading
          h1 Metro
          img(src='public/images/metroIcon.png')
      

      //- Farragut North
      .box.divider
        .metro-heading
          h3 Farragut North
          img(src='public/images/redlineOpenIcon.png')
          .walking-distance
            img.walking-man(src='public/images/walkingIcon.png')
            span 4 min
        ul
          li(class='{{item.line}}', ng-repeat="item in metro.A02  | filter:{destinationLetter: 'B'} | limitTo:3 ")
            span.animated.flipInX{{item.destinationName}}
            span.time.animated.flipInX{{item.min}}
      .box.divider
        ul
          li(class='{{item.line}}', ng-repeat="item in metro.A02 | filter:{destinationLetter: 'A'} | limitTo:3")
            span.animated.flipInX{{item.destinationName}}
            span.time.animated.flipInX{{item.min}}


      //- Farragut West
      .box.divider
        .metro-heading
          h3 Farragut West
          img(src='public/images/orangeLineOpenIcon.png')
          img.second-image(src='public/images/blueLineOpenIcon.png')
          .walking-distance
            img.walking-man(src='public/images/walkingIcon.png')
            span 7 min
        ul
          li(class='{{item.line}}', ng-repeat="item in metro.C03 | farragutWestB | limitTo:3 ")
            span.animated.flipInX {{item.destinationName}}
            span.time.animated.flipInX{{item.min}}
      .box.divider
        ul
          li(class='{{item.line}}', ng-repeat="item in metro.C03 | farragutWestA | limitTo:3 ")
            span.animated.flipInX {{item.destinationName}}
            span.time.animated.flipInX{{item.min}}



      .box.divider
        .metro-heading
          h3 Dupont Circle
          img(src='public/images/redlineOpenIcon.png')
          .walking-distanc
            img.walking-man(src='public/images/walkingIcon.png')
            span 7 min
        ul
          li(class='{{item.line}}', ng-repeat="item in metro.A03 | filter:{destinationLetter: 'B'} | limitTo:3 ")
            span.animated.flipInX {{item.destinationName}}
            span.time.animated.flipInX{{item.min}}
      .box
        ul
          li(class='{{item.line}}', ng-repeat="item in metro.A03 | filter:{destinationLetter: 'A'} | limitTo:3 ")
            span.animated.flipInX {{item.destinationName}}
            span.time.animated.flipInX{{item.min}}



  .col-3
    .section
      .box-bikeShare
        .heading
          h1 Capital Bikeshare
          img(src='public/images/capitalBikeshareIcon.png')

      .box.divider.clearfix
        ul.inline
          li.right.center 
            h1.animated.flipInX {{bikes[77].nbBikes[0]}}
            span Bikes
          li: h3 {{bikes[77].name[0]}}
        .walking-distance.left.extra
            img(src='public/images/walkingIcon.png')
            span 5 min

      .box.divider.clearfix
        ul.inline
          li.right.center 
            h1.animated.flipInX {{bikes[129].nbBikes[0]}}
            span Bikes
          li: h3 {{bikes[129].name[0]}}
        .walking-distance.left.extra
            img(src='public/images/walkingIcon.png')
            span 6 min

      .box.divider.clearfix
        ul.inline
          li.right.center 
            h1.animated.flipInX {{bikes[220].nbBikes[0]}}
            span Bikes
          li: h3 {{bikes[220].name[0]}}
        .walking-distance.left.extra
            img(src='public/images/walkingIcon.png')
            span 6 min

      .box.divider.clearfix
        ul.inline
          li.right.center 
            h1.animated.flipInX {{bikes[51].nbBikes[0]}}
            span Bikes
          li: h3 {{bikes[51].name[0]}}
        .walking-distance.left.extra
            img(src='public/images/walkingIcon.png')
            span 6 min
      
      
      
      .box.divider.clearfix
        ul.inline
          li.right.center 
            h1.animated.flipInX {{bikes[84].nbBikes[0]}}
            span Bikes
          li: h3 {{bikes[84].name[0]}}
        .walking-distance.left.extra
            img(src='public/images/walkingIcon.png')
            span 8 min

      .box.clearfix
        ul.inline
          li.right.center 
            h1.animated.flipInX {{bikes[105].nbBikes[0]}}
            span Bikes
          li: h3 {{bikes[105].name[0]}}
        .walking-distance.left.extra
            img(src='public/images/walkingIcon.png')
            span 7 min


  .col-4
    .section
      .box-traffic
        .heading
          h1 Traffic
          img(src='public/images/trafficIcon.png')
      google-map(center="map.center", zoom="map.zoom", pan="false")
        marker(coords="map.center")
        layer(type='TrafficLayer', show="map.showTraffic")
